<!-- Footer -->

<footer id="footer">
<div class="container-fluid">
    <div class = "row" >
<div class="col-md-4">
    <p class="copyright">© 2020 Lukount</p>
    
    <div class="footersocmed">
    <i class="socmed fab fa-facebook-f"></i>
    <i class="socmed fab fa-instagram"></i>
    <i class="socmed fab fa-twitter"></i>
</div>
</div>

<div class="col-md-6 ">

    <ul class="footer-item d-flex">
        <li class = "nav-item" id="home"> <a class="nav-link text-white" href=""> Home</a></li>
        <li class = "nav-item" id="contacto"><a class="nav-link text-white" href="">Contacto</a></li>
        <li class = "nav-item" id="faq"><a class="nav-link text-white " href="">FAQ</a></li>
        <li class = "nav-item" id="blog"><a class="nav-link text-white" href="">Blog</a></li>
      </ul>

</div>
    
<div class="col-md-2 logo-blanco">

<img class="" src="images/logo_blanco.svg" alt="logo_lukount">

</div>
</div>
</div>
</footer>

</body>
</html>
