<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Lukount Blog</title>

<!-- Navbar -->
    <nav class="navbar navbar-default navbar-light navbar-expand-lg" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="">
          <img src="images/logo.png" alt="logo lukount">
        </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-light"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="nav navbar-nav ml-auto  ">
            <li class = "nav-link" href ="" id="home">Home</li>
            <li class = "nav-link" href ="" id="contacto">Contacto</li>
            <li class = "nav-link" href ="" id="faq">FAQ</li>
            <li class = "nav-link" href ="" id="blog">Blog</li>
          </ul>
          <button type = "button" class="btn btn-outline-success ml-auto">Registrate</button>
        </div>

      </div>
    </nav>



  </head>
  <body>
