<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lukount Blog</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    
    <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/m9flw2hqwx1946n3wpn0fejsmosqhvaz5jzxp5agitm24b6n/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>





    <!-- TITLE SECTION -->
<section id="title">
  <div class="container-fluid">
<!-- Navbar -->
<nav class="navbar navbar-light navbar-expand-lg" >
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" alt="logo lukount" a>
    </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-target" aria-controls="collapse_target" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">

      <ul class="navbar-nav ml-auto  ">
        <li class = "nav-item" id="home"> <a class="nav-link" href="https://lukount.com/home"> Home</a></li>
        <li class = "nav-item" id="contacto"><a class="nav-link" href="https://lukount.com/contacto">Contacto</a></li>
        <li class = "nav-item" id="faq"><a class="nav-link" href="https://lukount.com/faq">FAQ</a></li>
        <li class = "nav-item" id="blog"><a class="nav-link" href="/">Blog</a></li>
        <!-- <div class="verticalLine"></div> -->
      </ul>
      
    </div>
</nav>

  </head>
  
  <body>
