<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lukount Blog</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    

    <!-- TITLE SECTION -->
<section id="title">
  <div class="container-fluid">
<!-- Navbar -->
<nav class="navbar navbar-light navbar-expand-lg" >
    <div class="navbar-header">
      <a class="navbar-brand" href="">
      <img src="images/logo.svg" alt="logo lukount">
    </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-light"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto  ">
        <li class = "nav-item" id="home"> <a class="nav-link" href="/"> Home</a></li>
        <li class = "nav-item" id="contacto"><a class="nav-link" href="">Contacto</a></li>
        <li class = "nav-item" id="faq"><a class="nav-link" href="">FAQ</a></li>
        <li class = "nav-item" id="blog"><a class="nav-link" href="/">Blog</a></li>
        <div class="verticalLine"></div>
      </ul>
      
    </div>

</nav>

  </head>
  <body>
