<%- include ("partials/header") -%>

<section id="blogPost">
    <div class="container-fluid fullpost">

        <!-- <div class="col-md-2">
           
        </div> -->


        <h1 class="postheader">Lukount : una empresa creada durante la pandemia.</h1>

        <div class="metapic row">
            <div class="col-lg-10">
                <img src="https://www.susla.edu/assets/susla/images/AccountingImage.png" class="blogPostImage img-fluid" alt="post_image">
            </div>
            <div class="metainfo col-lg-2" id="metainfo">
                <div class="publicado">
                    <h3 class="metah3">Publicado</h3>
                    <p class="pgen">05/11/2020</p>
                </div>
                <hr class="metainfo-hr">
                <div class="escritor">
                    <h3 class="metah3">Escritor</h3>
                    <p class="pgen">Arnaud Thévenet</p>
                </div>
                <hr class="metainfo-hr">

                <div class="compartir">
                    <h3 class="metah3">Compartir</h3>

                    <div class="compartir-socmed">
                        <i class="compartir-socmed-icon fab fa-facebook-f"></i>
                        <i class="compartir-socmed-icon fab fa-linkedin-in"></i>
                        <i class="compartir-socmed-icon fab fa-twitter"></i>
                    </div>
                </div>
            </div>




        </div>
<div class="content">
        <p class="postContentp">
            <h2 data-renderer-start-pos="17"><strong data-renderer-mark="true">Una empresa de Medell&iacute;n se cree
                    durante la pandemia para ayudar a las Pymes sobrevivir la crisis financiera que viene.</strong></h2>
            <p data-renderer-start-pos="137">Lukount es una nueva tecnolog&iacute;a que permite a las empresas liberarse
                de los quehaceres de la contabilidad. La automaci&oacute;n de los procesos usando Inteligencia
                artificial (I.A.) y los resultados de los an&aacute;lisis financieros (FP&amp;A) son desplegados en una
                pantalla Dashboard para dar una vista clara de los indicadores principales de rendimientos (KPI).</p>
            <p data-renderer-start-pos="486"><img style="float: left;"
                    src="https://media-exp1.licdn.com/dms/image/C4D1BAQGV6lQhfVvsuQ/company-background_10000/0?e=2159024400&amp;v=beta&amp;t=NCrogjnGrvYI9jUopUVCNL2H7ktZl5NtbUs6NX2uev8"
                    alt="Lukount" width="464" height="141" /></p>
            <p data-renderer-start-pos="502">&nbsp;</p>
            <p data-renderer-start-pos="502">&nbsp;</p>
            <p data-renderer-start-pos="502">&nbsp;</p>
            <p data-renderer-start-pos="502">&nbsp;</p>
            <p data-renderer-start-pos="502">Los tres cofundadores de Lukount empezaron su emparedamiento al inicio de
                2020, en el medio de la pandemia, y experimentaron las necesidades que surgen a las Pymes durante
                tiempos complejos.</p>
            <p data-renderer-start-pos="694">Uniendo su experiencia en IA, finanzas y Business Intelligence con
                habilidades de talentos locales, el equipo de Lukount creo una soluci&oacute;n a la medida de los
                requerimientos de los empresarios colombianos.</p>
            <p data-renderer-start-pos="900"><img
                    src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/01/22/node_698954/45110656/public/2020/01/22/B9722320167Z.1_20200122181247_000%2BGQIFBR452.2-0.jpg?itok=i6b8fxbt1579713214"
                    alt=""  /></p>
            <p data-renderer-start-pos="918">La forma tradicional de hacer contabilidad es lento, r&iacute;gida y cara.
                El equipo de Lukount piensa que un cambio en los m&eacute;todos contable debe pasar ya.</p>
            <p data-renderer-start-pos="1068">Por eso usaron las tecnolog&iacute;as mas recientes, tal cual las API y el
                Aprendizaje Profundo, para ofrecer una soluci&oacute;n a un precio justo, que entrega una contabilidad
                en tiempo real y ofrece un valor agregado con an&aacute;lisis financieras.</p>
            <p data-renderer-start-pos="1301">Todos los datos y indicadores ya son dispuestos en una sola pagina en la
                Web Application de Lukount.</p>
            <p data-renderer-start-pos="1403"><img
                    src="https://www.scoro.com/wp-content/uploads/2017/04/SimpleKPI-dashboard.png" alt="Dashboard"
                    width="538" height="339" /></p>
            <p data-renderer-start-pos="1424">Tener una visi&oacute;n general de los indicadores principales de
                rendimientos muy clara permite a los empresarios tomar decisiones estrat&eacute;gicas basadas en la Data
                de su empresa.</p>
            <p data-renderer-start-pos="1597">Adem&aacute;s, subcontratar su &aacute;rea contable permite tener mas
                flexibilidad y ofrece a las Pymes una soluci&oacute;n para crecer que se adapte al crecimiento de su
                negocio.</p>
            <p data-renderer-start-pos="1757">[ Image ]</p>
            <p data-renderer-start-pos="1768">Cada empresa es &uacute;nica y nuestro equipo de analistas y contadores
                son disponibles para desinar la soluci&oacute;n perfecta para usted. Dale clique ac&aacute; para hablar
                con nosotros.</p>

        </p>
    </div>
        <div class="compartir-mobile">
            <h3 class="metah3">Compartir</h3>

            <div class="compartir-socmed">
                <i class="compartir-socmed-icon-mobile fab fa-facebook-f"></i>
                <i class="compartir-socmed-icon-mobile fab fa-linkedin-in"></i>
                <i class="compartir-socmed-icon-mobile fab fa-twitter"></i>
            </div>
        </div>
    </div>
</section>


</div>
</section>

<%- include ("partials/footer") -%>