<%- include ("partials/header") -%>

<section id="blogPost">
    <div class="container-fluid postheaderdiv">

        <!-- <div class="col-md-2">
           
        </div> -->


        <h1 class="postheader">Lukount : una empresa creada durante la pandemia.</h1>
    </div>
        <div class="metapic row">
            <div class="col-lg-10">
                <img src="/uploads/lukout-main-blogpost.jpg" class="blogPostImage img-fluid"
                    alt="post_image">
            </div>
            <div class="metainfo col-lg-2" id="metainfo">
                <div class="publicado">
                    <h3>Publicado</h3>
                    <p>05/11/2020</p>
                </div>
                <hr>
                <div class="escritor">
                    <h3 class="metah3">Escritor</h3>
                    <p class="pgen">Arnaud</p>
                </div>
                <hr>

                <div class="compartir">
                    <h3>Compartir</h3>

                    <div class="compartir-socmed">

                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <!-- <div class="compartir-socmed-icon addthis_inline_share_toolbox"> -->
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstormy-sands-33699.herokuapp.com%2Fblogpostmain&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="socmed fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://stormy-sands-33699.herokuapp.com/post/blogpostmain" target="_blank"><i class="socmed fab fa-linkedin-in"></i></a>
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank"><i class="socmed fab fa-twitter"></i></a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                        </div>
                </div>
            </div>
            <hr class="hr-mobile">




        </div>
        <div class="content container-fluid">
                <h3>Emprendimiento en tiempos de pandemia:
                        soluci&oacute;n contable innovadora se crea en Medell&iacute;n para ayudar a las Pymes a
                        sobrevivir la crisis financiera.</h3>
                <p data-renderer-start-pos="169">Mucho se ha hablado de los efectos devastadores que trajo consigo la
                    coyuntura del Covid19 para la econom&iacute;a mundial; sin embargo, la realidad est&aacute; colmada
                    de matices que nos invitan a ver con optimismo hasta las m&aacute;s grandes crisis. En tal sentido,
                    la pandemia logr&oacute; destacar el valor de la empat&iacute;a y supuso una gran oportunidad para
                    sacar a flote el esp&iacute;ritu innovador, acelerar los desarrollos tecnol&oacute;gicos y estimular
                    la creatividad de los emprendedores de distintas latitudes.</p>
                <p data-renderer-start-pos="653">Fue en ese contexto que tres empresarios de origen franc&eacute;s,
                    contagiados de la verraquera que caracteriza a los colombianos, decidieron aliarse con talento local
                    y unir su experiencia en Inteligencia Artificial, Finanzas y Businness Intelligence para crear una
                    soluci&oacute;n contable vanguardista al servicio de las Pymes colombianas, como herramienta clave
                    para hacer frente al impacto econ&oacute;mico del Covid.</p>
                <p data-renderer-start-pos="1057">Para nadie es un secreto que la forma tradicional de hacer
                    contabilidad es lenta, r&iacute;gida y costosa. De hecho, en ocasiones, los empresarios la perciben
                    con apat&iacute;a porque asocian la contabilidad con el pago de impuestos. Es por ello que el equipo
                    de Lukount observ&oacute; la necesidad de transformar la funci&oacute;n contable por medio de la
                    tecnolog&iacute;a, fusion&aacute;ndola con la planeaci&oacute;n y el an&aacute;lisis financiero,
                    para ofrecer a las Pymes informaci&oacute;n en tiempo real que les permita tomar decisiones que
                    favorezcan el crecimiento de sus empresas.</p>
                <p data-renderer-start-pos="1590">El software desarrollado por los ingenieros de Lukount, llamado
                    Lukountech, posibilita la automatizaci&oacute;n de los procesos contables y utiliza inteligencia
                    artificial para la proyecci&oacute;n de an&aacute;lisis financieros. La informaci&oacute;n contable
                    y los resultados financieros (FP&amp;A), f&aacute;cilmente accesibles a trav&eacute;s de la Web,
                    son desplegados en una pantalla Dashboard para dar una vista clara de los indicadores principales de
                    rendimiento (KPI).</p>
                <p data-renderer-start-pos="2027">Al delegar las tareas contables y financieras a nuestro equipo de
                    expertos, usted tendr&aacute; la tranquilidad y disponibilidad para dedicarse a las labores
                    esenciales de su empresa, ganando en flexibilidad y capacidad estrat&eacute;gica.</p>
                <p data-renderer-start-pos="2255">Sabemos que cada empresa es &uacute;nica y por eso nos hemos
                    capacitado para dise&ntilde;ar soluciones que se adapten a los requerimientos de su modelo de
                    negocio. Haga click <a href="https://lukount.com/contacto"> aqu&iacute; para conversar con nosotros.</a></p>
                <p data-renderer-start-pos="2255">&nbsp;</p>
                <img src="images/logo.svg" alt="logo" style="text-align: center; max-width: 50%; height:auto">


        </div>

        <div class="compartir-mobile">
            <h3 class="metah3">Compartir</h3>

            <div class="compartir-socmed justify-content-center">

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- <div class="compartir-socmed-icon addthis_inline_share_toolbox"> -->
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstormy-sands-33699.herokuapp.com%2Fblogpostmain&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="socmed fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://stormy-sands-33699.herokuapp.com/post/blogpostmain" target="_blank"><i class="socmed fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank"><i class="socmed fab fa-twitter"></i></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                 </div>
        </div>
    
</section>


</div>
</section>

<script>

    document.querySelectorAll('.content a')
      .forEach(function(elem) {
        elem.setAttribute('target', '_blank');
        
      }) 
    
    </script>
<%- include ("partials/footer") -%>