<%- include ("partials/header") -%>

<h1>Compose</h1>


<form action="/compose" enctype="multipart/form-data" method="post">

<label>Image</label>
<input name="myImage" class="form-control-file" type="file" accept="image/*">

<div class="form-group">
<label>Title</label>
<input class = "form-control" type="text" name="postTitle">

<label>Subtitle (150 characters max.)</label>
<input class = "form-control" type="text" name="postSubtitle" maxlength="150">

<label>Post</label>
<textarea name="postContent" id="editor">
    This is some sample content.
</textarea>

<label>Writer</label>
<input class = "form-control" type="text" name="postWriter">


</div>
<button class ="btn btn-dark" type="submit">Publish</button>

</form>


<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange formatpainter image linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

