@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf);
  font-weight: 400;
}

@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf);
  font-weight: 700;
}

@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
  font-weight: 600;
}



body {

  font-family: 'tommy';

}

.row a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

#title {
  background-color: #F9FFFC;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #00F1A8
}


/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem;

  font-size: 18px;
}

.navbar-brand {
  padding-bottom: 2%;
}

.nav-item {
  padding: 0 18px;
  color: #000;
}

.nav-link {
  font-size: 1.2rem;
  color: black;
}

.verticalLine {
  border-left: 1px solid #000;
  display: inline;
  margin-left: 40px;
}

/*Title Image */

.title-img {
  width: 100%;
  background-size: cover;
}

/* Recientes */
#recientes {
  padding: 0px;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

.blog-img {

  padding-bottom: 20px;
  height: 200px;
  width: 100%;
  max-height: 200px;
  max-width: 300px;
  object-fit: cover;
  
}

.blog-column {
  padding: 3% 5%;

}

.card-desc h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #264333;

}

.card-desc a {
  text-decoration: none;
}

.cardp {
  font-size: 14px;
  color: #9D9D9D
}

/* .buscar{
  color: #86EDA7;
  padding: 20px O;
  text-align: center; 

} */

/* ---------------------------------------------------------------------- */

/* Blog Post Page */

.postheader {
  text-align: center;
  padding-bottom: 5%;
  font-weight: 700;

}

.metapic {
  display: flex;
  flex-direction: row-reverse;
  left: 0;

}

.blogPostImage {
  /* position: relative; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  display: inline-flexbox;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 700px;
  background-size: cover;
    /* 
  align-self: flex-end; */

}

.metainfo {
  text-align: left;
  /* float: left; */
  margin-right: auto;
  left: 0;
  /* align-self: flex-end; */
  font-size: 1rem;
  /* flex-wrap: wrap-reverse; */
  display: inline-flexbox;
}



.metainfo-hr {
  width: 100%;
  margin: auto;
}

.compartir-socmed {
  font-size: 20px;
  text-decoration: none;
  color: #264333;
  display: flex;
  padding-bottom: 12%;
}

.compartir-socmed-icon {
  margin: 5% auto 0 0;
  display: flex;
}

.compartir-mobile {
  display: none;
}

h3 {
  font-size: 1.1rem;
  color: #00F1A8;
  padding-top: 3%;
}



/* .fullpost{
  display: flex;
} */

.postContentp {
  padding-top: 3%;

  /* width: 70%;
  text-align: justify;
  margin-left: 20px;
  margin-right: auto; */
}

.content img {
  max-width: 100%;
  height: 600px;
  width: 300px ;
}

/* Footer */

footer {
  background-color: #00412D;
  color: white;
  height: 30%;
}

footer a {
  color: #FFF;
}

.copyright {
  margin: auto;
}

.footersocmed {
  margin: auto;
}

.socmed {
  font-size: 30px;
  padding-right: 20px;
  text-decoration: none;
}

.footer-menu {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.footer-menu-item {
  padding: 0 18px;
}

.logo-blanco {
  text-align: right;
  position: static;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;

}

ul {
  margin: 0;
  padding: 0;
}

.copyright {
  margin-top: 5%;
}


/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

  .container-fluid{
    padding-right: 4%;
    padding-left: 4%;
}
} */


/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width : 1000px) {

  .container-fluid {
    padding-right: 2%;
    padding-left: 2%;
  }

  .metapic {
    text-align: center;
    flex-direction: column;
  }

  .postheader {
    font-size: 2rem;
  }


  .metainfo {
    display: inline-flex;
  }

  .compartir {
    display: none;
  }

  .compartir-mobile {
    display: block;
    text-align: center;
    padding-top: 4%;
  }

  /* .compartir-socmed-icon-mobile {
    margin: auto;
    padding-top: 4%;
    display: flex;
  } */

  .addthis_inline_share_toolbox {
    margin: auto;
    padding-top: 4%;
    display: flex; 
  }

  .metainfo-hr {
    display: none;
  }

  .publicado {
    margin-right: auto;
    margin-left: 10%;
  }

  .escritor {
    margin-left: auto;
    margin-right: 10%;
  }

  /* footer */

  .logo-blanco {
    width: 100%;
    text-align: center;
    margin-top: 5%;

  }

  .footer-menu {
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: 10% 0 auto;
  }

  .footer-menu-item {

    margin: auto;
  }


  .footersocmed {
    width: 100%;
    text-align: center;
    margin-top: 5%;

  }

  .socmed {
    padding: 5%;
  }

  .copyright {
    width: 100%;
    text-align: center;
  }



}