body {

  font-family: 'Hind Siliguri', sans-serif;

}

#title {
  background-color: #f7fffa;
}
.container-fluid {
padding: 3% 15%;
}
h1 {
  font-size: 3rem;
  line-height: 1.5;
  color:rgb(155, 219, 176);
}

/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem;

  font-size: 18px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: black;
}

p{
  padding: 4% 0;
}

/*Title Image */

.title-img {
  width: 70%;
}

/* Recientes */
#recientes {
  padding : 60px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

.blog-img{

width: 100%;
padding-bottom: 20px;
}

.blog-column{
  padding:3% 5%;
  
}

h3{
text-align: center;
font-size: 20px;
}

.cardp{
  font-size: 14px;
  color: rgb(182, 181, 181);
}