@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf);
  font-weight: 400;
}

@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
  font-weight: 600;
}

@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf);
  font-weight: 700;
}

@font-face {

  font-family: tommy;
  src: url(fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Black\ PERSONAL\ USE.otf);
  font-weight: 900;
}





html{
  overflow-x: hidden
}

body {

  font-family: 'tommy';
  font-size: 1.1rem;
  overflow-x: hidden

}

.row a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

#title {
  background-color: #F9FFFC;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #00F1A8
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #6b706e;
;}




/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem;

  font-size: 18px;
}

.navbar-brand {
  padding-bottom: 2%;
}

.nav-item {
  padding: 0 18px;
  color: #000;
}

.navbar a :hover{
  color:#00F1A8
}



.nav-link {
  font-size: 1.2rem;
  color: black;
}

.verticalLine {
  border-left: 1px solid #000;
  display: inline;
  margin-left: 40px;
}

/*Title Image */

.title-img {
  width: 100%;
  background-size: cover;
}

/* Recientes */
#recientes {
  padding: 0px;
}

.pbimg{
  text-align: center;
}

.blog-img {

  padding-bottom: 20px;
  height: 200px;
  width: 100%;
  max-height: 200px;
  max-width: 300px;  
}

.blog-column {
  padding: 3% 3%;

}

.card-desc h3 {
  text-align: center;
  color: #264333;

}

.card-desc a {
  text-decoration: none;
}

.cardp {
  font-size: 14px;
  color: #9D9D9D
}

/* .buscar{
  color: #86EDA7;
  padding: 20px O;
  text-align: center; 

} */

/* ---------------------------------------------------------------------- */

/* Blog Post Page */

.postheader {
  text-align: center;
  padding-bottom: 5%;
  font-weight: 700;
}

.postheaderdiv{
  padding: 0 10% 3%;
  
}

.metapic {
  display: flex;
  flex-direction: row-reverse;
padding-bottom: 4%;

}

.blogPostImage {
  height: 100%;
  width: 100%;
  max-height: 550px;
  max-width: 800px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

.metainfo {
  text-align: left;
  /* float: left; */
  margin-right: auto;
  left: 0;
  /* align-self: flex-end; */
  font-size: 1rem;
  /* flex-wrap: wrap-reverse; */
  display: inline-flexbox;
}

.metainfo .socmed{
font-size: 25px;
}

.metainfo hr {
  width: 100%;
  margin: auto;
  /* background: #000; */
}

.metainfo h3 {
  font-size: 1.1rem;
  color: #00F1A8;
  padding-top: 3%;
  margin-bottom: 3%;
}

.compartir-socmed {
  font-size: 20px;
  text-decoration: none;
  color: #264333;
  display: flex;
  padding: 7% 0 14%;
}
.compartir-socmed a{
  color: inherit;
}
.compartir-socmed a :hover{
  color: #00F1A8;
}

.compartir-socmed-icon {
  margin: 5% auto 0 0;
  display: flex;
}

.compartir-mobile {
  display: none;

}

.compartir-mobile h3{
color: #00F1A8;
}

.compartir-mobile i{
  margin: 30px 50px 10px;
}

/* Content of the blogpost  */
textarea {
  display: block;
}

/* .content{
text-align: justify;
} */


.content h3{
  font-weight: 600;
  line-height: 1.4;
  font-style: italic;

}
.content p{
  line-height: 1.5;
}

/* .content ul{
list-style-position: inside;
margin: 20px;
} */

.content ol li{
margin-bottom: 3% ;
}

.content ul li{
  margin-left: 30px;
}

.content img {
  height: 314px;
  width: 560px;
  max-height: 100%;
  max-width: 100% ;
}

.content iframe{
  height: 314px;
  width: 560px;
  max-height: 100%;
  max-width: 100% ;
}

/* Footer */

footer {
  background-color: #00412D;
  color: white;
  height: 30%;
}

footer a {
  color: #FFF;
}

footer p{
  margin: auto;
}

.footersocmed {
  margin: auto;
}
.footersocmed a:hover{
  color: #00F1A8;
}

.socmed {
  font-size: 30px;
  padding-right: 20px;
}

.footer-menu {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.footer-menu-item {
  padding: 0 18px;
}

.logo-blanco {
  text-align: right;
  position: static;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;

}

footer ul {
  margin: 0;
  padding: 0;
}

.copyright {
  margin-top: 5%;
}

.hr-mobile{
  display: none;
}

/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

  .container-fluid{
    padding-right: 4%;
    padding-left: 4%;
}
} */


/* Small devices (landscape phones, less than 768px) */
@media (max-width : 992px) {


  
  .container-fluid {
    padding-right: 2%;
    padding-left: 2%;
  }
h1{
  font-size: 2.5rem;
}
  .nav-item {
    padding: 0 45px 0;
  }

  .metapic {
    text-align: center;
    flex-direction: column;
    padding-bottom: 0;
  }

.blog-img{
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.content img {
  height: auto;
}

.content h2{
  text-align: center;
}

.content ol li{
  margin-bottom: 3% ;
  }
  .content ul li{
    margin-left: 10px;
    margin-bottom: 2%;
  }

  .metainfo {
    display: inline-flex;
    padding-top: 2%;
  }
  .hr-mobile{
    display: block;
    margin: 0 15% 7%;
  }
  .compartir {
    display: none;
  }

  .compartir-mobile {
    display: block;
    text-align: center;
    padding-top: 4%;
  }

  /* .compartir-socmed-icon-mobile {
    margin: auto;
    padding-top: 4%;
    display: flex;
  } */

  .metainfo hr {
    display: none;
  }

  .publicado {
    margin-right: auto;
    margin-left: 15%;
  }

  .escritor {
    margin-left: auto;
    margin-right: 15%;
  }

  /* footer */

  .logo-blanco {
    width: 100%;
    text-align: center;
    margin-top: 5%;

  }

  .footer-menu {
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: 10% 0 auto;
  }

  .footer-menu-item {

    margin: auto;
  }


  .footersocmed {
    width: 100%;
    text-align: center;
    margin-top: 5%;

  }

  .socmed {
    padding: 5%;
  }

  .copyright {
    width: 100%;
    text-align: center;
  }



}